# B06E: Basic Data Structures Part 2 Exercises

#### Exercise 1: For the following list:

1) Return the count of the number of items in it.<br/>
2) Remove the 'Tom' and 'Behnom' values from the list<br/>
3) Sort the list into alphabetical order<br/>
4) Append a new value to the list of 'Brian'.<br/>
5) Sort the list in reverse order and convert this to a Tuple.<br/>
6) Why can't we sort the tuple?<br/>

In [64]:
beatles = ['John','Paul','George','Ringo','Tom','Behnom']

In [65]:
len(beatles)

6

In [66]:
beatles.remove('Tom')
beatles.remove('Behnom')
beatles

['John', 'Paul', 'George', 'Ringo']

In [67]:
beatles.sort()
beatles

['George', 'John', 'Paul', 'Ringo']

In [68]:
beatles.append('Brian')
beatles

['George', 'John', 'Paul', 'Ringo', 'Brian']

In [63]:
beatles

['Brian', 'John', 'Paul', 'George', 'Ringo', 'Brian', 'Brian']

#### Exercise 2: On the following dicitionary...

1) Use key indexing to print the values for a, d and h in the dictionary 'dict'<br/>
2) Update the 'dict' dictionary with the key 'k' with the value 11<br/>
3) Create separate lists for the keys and values (Move on if you get stuck!)<br/>

In [44]:
mydict1 = {'a':1,
        'b':2,
        'c':3,
        'd':4,
        'e':5,
        'f':6,
        'g':7,
        'h':8,
        'i':9,
        'j':10}

In [45]:
print(
    mydict1['a'],
    mydict1['d'],
    mydict1['h']
)

1 4 8

In [47]:
mydict1['k'] = 11
mydict1

{'a': 1,
 'b': 2,
 'c': 3,
 'd': 4,
 'e': 5,
 'f': 6,
 'g': 7,
 'h': 8,
 'i': 9,
 'j': 10,
 'k': 11}

In [ ]:
keys = list(dict1.keys())
vals = list(dict1.values())

#### Exercise 3: Below are 4 data structures...

1) Create a nested dictionary of lists containing these with the keys as follows: Cheese, Biscuits, Vegetables, Milk<br/>
2) From the dictionary, call the:<br/>
* third value in cheese<br/>
* first value in biscuits<br/>
* last value in vegetables<br/>
* second value in milk<br/>

In [79]:
cheese = ['Stilton','Wensleydale','Cheddar','Brie','Edam','Feta','Halloumi']
biscuits = ['Digestive','Rich Tea','Hob Nob','Custard Creme','Shortbread']
vegetables = ('Peas','Carrots','Green Bean','Sweetcorn')
milk = set()
milk.add('Semi-Skimmed')
milk.add('Skimmed')
milk.add('Whole')
milk.add('Soy')

In [ ]:
vegetables_list = list(vegetables)
milk_list = list(milk)

print(type(vegetables_list),type(milk_list)) # Making sure they've converted correctly


dict1 = {'Cheese':cheese,
        'Biscuits':biscuits,
        'Vegetables':vegetables_list,
        'Milk':milk_list}
dict1

In [ ]:
print(
dict1['Cheese'][2],
dict1['Biscuits'][0],
dict1['Vegetables'][-1],
dict1['Milk'][1]
)